<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous">
<meta charset="utf-8">
<title>BookStore</title>
<head>
    <meta charset="UTF-8">
    <title>BookStore</title>
</head>
<body>
<p>&nbsp;</p>

<div class="container my-2">

    <h2>Welcome to Spring MVC BookStore application</h2>

    <p>
        <a th:href="@{/books_list}" class="btn btn-primary btn-smb-mb-3">Books List</a>&nbsp;&nbsp;
        <a th:href="@{/showNewBookForm}" class="btn btn-primary btn-smb-mb-3">Add new Book</a>
    </p>

    <img style="margin: 20px 0px 20px 0px; width:800px" th:src="@{/images/bookstore.png}" alt="" BookStore/>

    <p>Bookstore is a simple <b>CRUD</b> application created using Spring Boot, Java and Thymeleaf.
        It works in two ways - data can be saved either in the Collection or in a MySQL database.</p>
    <p>To switch actions, change the profile name from <b>"default"</b> to <b>"MySQL"</b> in
        the <i>application.properties</i> file. You are currently using <b>Thymeleaf UI</b>. Use <a th:href="@{/books}">This link</a> to get a
        UI with <b>simple JSON data</b></p>

</div>

</body>
</html>